:local(.cards) {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
  padding: 0;
  border-left: 1px solid lightgrey;
  li {
    margin: 5px;
    text-align: center;
  }

  img {
    width: 100%;
  }
}