:local(.results) {
  .notifications {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    * {
      margin: 5px 10px;
    }
  }
}