:local(.app) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background: #067bbf;
  }

  h1 {
    padding: 5px 20px;
    font-size: 1em;
    color: white;
  }

  #nav-bar {
    display: flex;
  }
  #display {
    width: 100%;
    display: grid;
    grid: 100% / 1fr 50px;
  }

  main {
    display: grid;
    grid: 730px / 20% 1fr;
  }

  #paging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}