:local(.header) {
  i {
    color: white;
  }

  a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    transition:all 0.3s ease;
  }

  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
}