:local(.paging) {
  border-left: 1px solid lightgrey;

  button {
    height: 100%;
    border: none;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  button:hover { 
    background-color: #e7e7e7;
  }

  span {
    text-align: center;
  }
}