:local(.search) {

  padding: 10px;
  font-size: 1.2em;

  li {
    list-style-type: none;
  }
  
  label {
    margin: 10px 10px;
    display: block;
  }

  label > input {
    width: 100%;
  }

  select {
    width: 100%;
  }

  button, input[type='reset']{
    margin-right: 15px;

  }

  div {
    margin: 10px;
  }

  li > label {
    display: inline;
  }
}